.header {
  display: flex;
  width: 100%;
  flex-direction: row;

  justify-content: center;
  height: 58px;
  .content {
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    .logo {
      width: 100%;
      max-width: 7%;
    }
    .group {
      display: flex;
      width: 40%;

      justify-content: space-between;
    }
  }
}
