@import './base.module.scss';
.conteiner_table {
  width: 100%;
  display: flex;
  margin-top: 70px;
  justify-content: center;
  .content_table {
    width: 90%;
    display: flex;

    flex-direction: column;
    justify-content: center;
    gap: 20px;
    .table_btn {
      display: flex;
      padding-left: 30px;
      gap: 10px;
      @include font(16px);
    }
    .all_table {
      display: flex;
      width: 100%;
      gap: 20px;
      flex-direction: column;

      .table_title {
        display: flex;
        width: 100%;
        align-items: start;
        padding-left: 30px;
        @include font(16px);
      }
      .table {
        .field {
          background-color: rgba(254, 235, 203, 1);
        }
      }
    }
  }
}
