alembic
asyncpg
click
confluent-kafka
elasticsearch==7.17
email-validator
fastapi
jwt
minio
openpyxl
pandas
passlib
psycopg2-binary
pydantic[email]
python-dotenv
python-jose
python-multipart
sqlalchemy
uvicorn
xlsxwriter